.item{
  text-align: center;
}
.producto__card{
  width: 350px;
  height: 400px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
  text-align: center;
  margin-bottom: 20px;
  gap: 20px;
}

.producto__card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
.producto__imagen{
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: 300px; /* Altura fija para todas las imágenes (ajusta según tus necesidades) */
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover; 
  padding: 16px;
}

.producto__titulo{
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}

.producto__categoria{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: rgb(213, 189, 175);
}


.producto__boton{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
  .producto__card {
    width: 100%; /* Ocupar el 100% del ancho del dispositivo móvil */
    height: auto; /* Altura automática para adaptarse al contenido */
    margin-bottom: 10px; /* Espaciado inferior reducido */
    padding: 8px; /* Espaciado interno reducido */
  }

  .producto__imagen {
    width: 100%;
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 0; /* Sin borde redondeado en dispositivos móviles */
    margin-bottom: 5px; /* Espaciado inferior reducido */
    padding: 8px; /* Espaciado interno reducido */
  }

  .producto__titulo {
    font-size: 12px; /* Tamaño de fuente reducido */
  }

  .producto__categoria {
    font-size: 10px; /* Tamaño de fuente reducido */
  }

  .producto__boton {
    font-size: 12px; /* Tamaño de fuente reducido */
    padding: 8px 16px; /* Espaciado reducido en el botón */
  }
}
