/* Estilos para el contenedor principal */
.personalizados {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    max-width: 800px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Estilos para el título */
.personalizados__titulo {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

/* Estilos para el texto y el párrafo */
.personalizados span,
.personalizados p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para la lista desordenada */
.personalizados ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Estilos para los elementos de la lista */
.personalizados li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

/* Estilos para el párrafo final */
.personalizados p:last-child {
    margin-top: 20px;
}
