/* Formulario container */
.formulario-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  

  /* Título del formulario */
  .formulario-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }
  
  /* Estilos para los campos del formulario */
  .form-group {
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: gray;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* Estilos para el botón de envío */
  button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }

  