.detail-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}

.detail img{
    width: 300px;
    height: 500px;
}

.detail-info{
    padding: 20px;
}

.detail-info span{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.detail-info h2{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}

.detail-span{
    color: gray;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.detail-button{
    margin-top: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
/* Estilos para el contenedor del carrusel */
.image-carousel-container {
    width: 70%; /* O ajusta el ancho según tus necesidades */
    max-width: 600px; /* Ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel en el medio */
  }
  
  /* Estilos para el carrusel de imágenes */
  .carousel {
    background-color: #f5f5f5; /* Color de fondo suave */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Estilos para las imágenes dentro del carrusel */
  .carousel img {
    max-width: 70%; /* Ajusta el ancho máximo al 100% del contenedor */
    max-height: 400px; /* Define una altura máxima para todas las imágenes */
    width: auto; /* Ajusta automáticamente el ancho según el alto máximo */
    height: auto; /* Ajusta automáticamente la altura según el ancho máximo */
  }
  
  /* Estilos para las miniaturas (si las usas) */
  .carousel .thumbs-wrapper {
    margin-top: 10px;
  }
  
  /* Estilos para las flechas de navegación */
  .carousel .control-arrow {
    font-size: 24px;
    color: #007BFF; /* Color de las flechas de navegación */
  }
  
  /* Estilos para los puntos de navegación (si los usas) */
  .carousel .dot {
    background-color: #007BFF; /* Color de los puntos de navegación activos */
  }
  
  /* Estilos para el contenedor de detalles en dispositivos móviles */
@media screen and (max-width: 768px) {
    .detail-container {
      flex-direction: column; /* Cambiamos a una columna en pantallas pequeñas */
    }
  
    .detail img {
      width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
      height: auto; /* Ajusta automáticamente la altura según el ancho */
      margin-bottom: 10px; /* Espacio entre la imagen y la información en móviles */
    }
  
    .detail-info {
        text-align: center;
      padding: 10px; /* Reduce el espacio alrededor de la información en móviles */
    }
  
    .detail-info h2 {
      font-size: 14px; /* Reducimos el tamaño de la fuente en móviles */
    }
  
    /* Estilos para el carrusel en dispositivos móviles */
    .image-carousel-container {
      width: 100%; /* Ancho del 100% para ocupar todo el ancho del dispositivo */
    }
  
    .carousel img {
      max-width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
      max-height: 300px; /* Define una altura máxima para las imágenes del carrusel */
    }
  }
  
  .detail-span{
    font-size: 14px;
    margin-bottom: 14px;
}

.detail-button{
    font-size: 14px;
    margin-top: 16px;
}