.detail-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}

.detail img{
    width: 300px;
    height: 500px;
}

.detail-info{
    padding: 20px;
}

.detail-info h2{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Estilos para el contenedor del carrusel */
.image-carousel-container {
    width: 70%; /* O ajusta el ancho según tus necesidades */
    max-width: 600px; /* Ancho máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel en el medio */
  }
  
  /* Estilos para el carrusel de imágenes */
  .carousel {
    background-color: #f5f5f5; /* Color de fondo suave */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Estilos para las imágenes dentro del carrusel */
  .carousel img {
    max-width: 70%; /* Ajusta el ancho máximo al 100% del contenedor */
    max-height: 500px; /* Define una altura máxima para todas las imágenes */
    width: auto; /* Ajusta automáticamente el ancho según el alto máximo */
    height: auto; /* Ajusta automáticamente la altura según el ancho máximo */
  }
  
  /* Estilos para las miniaturas (si las usas) */
  .carousel .thumbs-wrapper {
    margin-top: 10px;
  }
  
  /* Estilos para las flechas de navegación */
  .carousel .control-arrow {
    font-size: 24px;
    color: #007BFF; /* Color de las flechas de navegación */
  }
  
  /* Estilos para los puntos de navegación (si los usas) */
  .carousel .dot {
    background-color: #007BFF; /* Color de los puntos de navegación activos */
  }
  

  @media (max-width: 768px) {
    .detail-container {
      flex-direction: column; /* Cambia la dirección a columna en pantallas más pequeñas */
      text-align: center; /* Centra el contenido */
    }
  
    .detail img {
      width: 100%; /* Ajusta el ancho al 100% del contenedor */
      height: auto;
      max-height: none; /* Elimina la altura máxima para permitir imágenes más grandes */
    }
  
    .detail-info {
      padding: 10px; /* Reduce el espaciado */
    }
  
    .carousel {
      max-width: 80%; /* Reduce el ancho del carrusel */
    }
  
    .carousel img {
      max-height: 400px; /* Reduce la altura máxima de las imágenes */
    }
  }