.item-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-auto-rows: 500px;
    gap: 32px;
    padding: 24px 0;
}

/* Med
ia query para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
    .item-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el tamaño mínimo y máximo para las columnas */
        grid-auto-rows: auto; /* Altura automática de las filas */
        gap: 16px; /* Reduce el espacio entre los elementos */
        justify-content: center; /* Centra horizontalmente la cuadrícula */
        align-items: center; /* Centra verticalmente la cuadrícula */
        padding: 30px;
    }
}